fastapi==0.115.0
uvicorn[standard]==0.30.0
sqlalchemy==2.0.35
pydantic[email]==2.9.0
pyjwt==2.9.0
python-multipart==0.0.12
pandas==2.2.3
scikit-learn==1.5.2
numpy==2.0.2
python-dotenv==1.0.1
psycopg2-binary==2.9.9
email-validator==2.2.0
PyJWT
